{{!-- This creates a blog template so that all blogs are styled the same way --}}
<div class="card custom-card">
    <div class="card-content custom-card-content white-text">
        <div class="card-title custom-card-title">
            <h2>{{title}}</h2>
            <p>Posted by {{user.name}} on {{date_created}} </p>
        </div>
    <p>{{description}}</p>
    <a href="/blogs/{{id}}">Read More</a>
    {{!-- {{#if isAuthor}} --}}
        <a href="/blogs/edit/{{id}}"><button class="save-btn btn-large">Edit</button></a>
        <Button class="delete-btn btn-large">Delete</Button>
    {{!-- {{/if}} --}}
    </div>
</div>