{{!-- This creates a blog template so that all blogs are styled the same way --}}
<div class="card custom-card">
    <div class="card-content custom-card-content white-text">
        <div class="card-title custom-card-title">
            <a href="/blog/{{blog.id}}">
                <h2>{{blog.title}}</h2>
            </a>
            <p>Posted by {{blog.user.name}} on {{format_date blog.date_created}} </p>
        </div>
    <p>{{blog.description}}</p>
    </div>
</div>