<div class="card custom-card">
    <div class="card-content custom-card-content white-text">
        <div class="card-title custom-card-title">
            <h2>{{title}}</h2>
            <p>Posted by {{user.name}} on {{date_created}} </p>
        </div>
    <p>{{description}}</p>
    </div>
</div>
<div class="card custom-card">
    <div class="card-content custom-card-content white-text">
        <div class="card-title custom-card-title">
            <p>Posted by {{comment.user.name}} on {{comment.date_created}} </p>
        </div>
    <p>{{comment.comment_body}}</p>
    </div>
</div>
