{{!-- This will display all of current posted blogs --}}
<div class="row">
    <div class="col s12">
        <div class="card custom-card">
            <div class="card-content custom-card-content white-text">
                <div class="card-title custom-card-title">
                    <a href="/blog/{{blog.id}}">
                        <h2>{{blog.title}}</h2>
                    </a>
                    <p>Posted by {{blog.user.name}} on {{format_date blog.date}}</p>
                </div>
            <p>{{blog.description}}</p>
            </div>
        </div>
    </div>
</div>